<div class="grey lighten-3 grey-text text-darken-1 valign-wrapper border-teal-bottom height-50 padding-top padding-bottom">
    <div class="center-block full-width">
        <div class="row only-one-block">
            <p class="col s12 center text-xl">
                {{ message }}
            </p>
        </div>
    </div>
</div>